
.v-author{
    color: gray;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0px;
}

.v-stat{
    color: gray;
    font-size: 12px;
    margin-top: 0;
}

.v-title{
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.video-preview-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
column-gap: 20px;
row-gap: 30px;

}




.thumbnail{
   width: 100%;
}

.thumbnail-row{
    margin-bottom: 10px;
    position: relative;

}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 7px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold ;
    padding-left:  4px; 
    padding-right: 4px;
    padding-bottom:4px;
    padding-top: 4px;
    
}




.profile-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 12px;


}

.profile-pic{
    width: 50px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}





